
.ChesTable {
    width: 80%; /* Ширина таблицы */
    /*height: 70%;*/
    background: rgb(233, 132, 92); /* Цвет фона таблицы */
    color: black; /* Цвет текста */
    border-spacing: 2px; /* Расстояние между ячейками */
    
    margin-left: auto;
    margin-right: auto;
    display: none;
}

td, th {
    width: 12.5%;
    height: 50px;
    padding: 5px; /* Поля вокруг текста */
   }

h3, h2 {
    text-align: center;
}

form{
    text-align: center;
}